<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="initial-scale=1.0">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
		<link rel="stylesheet" href="/assets/css/materialize.min.css" type="text/css">
		<title>Burger Time</title>
	</head>
	<body>
		{{{ body }}}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
      	<script type="text/javascript" src="/assets/css/materialize.min.js"></script>
	</body>
</HTML>