extends layout

block content
	header.align.center
		.header-content
			.header-content-inner
				h1= title

				hr

				p Welcome to #{title}
				p= message

				a(class='waves-effect waves-teal btn-flat' href="/survey") Link the the survey




