extends layout

block content
	section.post
		.container.text-right
			a(href='').text-right
			.row
				.col-lg-8.col-lg-offset-2.text-center
					h2.section-heading I like to run!

					hr.light

					p.text-faded
						| Fanny Pack
					.article
						| Fanny Pack
